@font-face {
    font-family: 'Aspekta';
    font-weight: 350;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/Aspekta-350.woff2') format('woff2');
}

@font-face {
    font-family: 'Aspekta';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/Aspekta-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Aspekta';
    font-weight: 450;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/Aspekta-450.woff2') format('woff2');
}

@font-face {
    font-family: 'Aspekta';
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/Aspekta-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Aspekta';
    font-weight: 550;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/Aspekta-550.woff2') format('woff2');
}

@font-face {
    font-family: 'Aspekta';
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/Aspekta-700.woff2') format('woff2');
}